:root {
    --main-background-color: #000000;
    --main-text-color: #777777;
    --accent-color: #777777;
    --page-background-home: #000000;
    --page-background-other: #ffffff;
  }
  
  /* Reset some default styles */
  body,
  h1,
  h2,
  p,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
  }
  
  button {
    font-size: 15px;
    padding: 15px;
    border: solid 1px var(--accent-color);
    background: none;
    color: var(--accent-color);
    letter-spacing: 1px;
    transition: transform 0.4s, color 0.4s;
  }
  
  button:hover {
    cursor: pointer;
    color: var(--main-background-color);
    transform: scale(1.1);
    transition: transform 0.4s, color 0.4s;
  }
  
  /* Navbar styles */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-background-color);
    border-bottom: 4px solid var(--accent-color);
    padding: 20px 0;
    z-index: 1;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .navbar li {
    margin: 20px;
    transition: transform 0.3s;
  }
  
  .navbar li a {
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--main-text-color);
    transition: color 0.6s;
  }
  
  .navbar li:hover {
    transform: translateY(-3px);
  }
  
  .navbar li a:hover {
    color: var(--accent-color);
    border-top: var(--accent-color) solid 1px;
    border-bottom: var(--accent-color) solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: color 0.8s, border-top 0.8s, border-bottom 0.8s, padding 0.8s;
  }
  
  /* Mobile view styles */
  @media (max-width: 768px) {
    .navbar {
      border-bottom: none;
      position: fixed;
      top: 0;
      background-color: rgba(
        255,
        255,
        255,
        0
      ); /* RGBA values and adjust the last parameter (alpha) for transparency */
      z-index: 1;
      height: 50vh;
      overflow-y: auto;
      box-sizing: border-box;
    }
  
    .navbar ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      left: 0;
      background-color: var(--main-background-color);
      width: 100%;
      text-align: center;
      padding: 10px 0;
      border-bottom: 4px solid var(--accent-color);
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s;
      z-index: 2;
      height: 30vh;
      overflow-y: auto;
      box-sizing: border-box; /* Include padding and border in the height calculation */
    }
  
    .navbar ul.show {
      opacity: 1;
      transform: translateY(0);
    }
  
    .navbar li {
      margin: 2px 0;
    }
  
    .burger-menu {
      display: block;
      cursor: pointer;
      padding: 10px;
      text-align: right;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 3;
    }
  
    .bar {
      width: 30px;
      height: 3px;
      background-color: #777777;
      margin: 6px 0;
      transition: 0.4s;
    }
  
    .navbar li {
      margin: 10px;
    }
  }
  
  /* Desktop view styles */
  @media (min-width: 769px) {
    .navbar ul {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      text-align: left;
      padding: 10px 0;
      border-bottom: none;
    }
  
    .navbar ul li {
      margin: 0 20px;
      margin-bottom: 0;
    }
  
    .burger-menu {
      display: none;
    }
  }
  
  /* Page sections */
  .page {
    min-height: calc(100vh - 10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--main-background-color);
    border-bottom: var(--accent-color) solid 4px;
  }
  
  .page-contents-wrapper {
    background-color: var(--page-background-other);
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .page h2,
  .page h3 {
    font-size: 35px;
    margin-bottom: 20px;
    vertical-align: middle;
    color: var(--accent-color);
    font-weight: 300;
  }
  
  .page h3 {
    font-size: 30px;
  }
  
  strong {
    color: var(--accent-color) !important;
  }
  
  .highlighted-text {
    font-size: 25px;
    letter-spacing: 3px;
    color: var(--main-background-color);
    font-weight: 200;
    font-style: italic;
  }
  
  .highlighted-text2 {
    color: var(--main-background-color);
    font-weight: 500;
    border-bottom: var(--accent-color) solid 2px;
  }
  
  .highlighted-text3 {
    color: var(--accent-color);
    font-weight: 200 !important;
  }
  
  .page p {
    font-size: 20px;
    line-height: 1.6;
    color: var(--main-background-color);
    padding-bottom: 20px;
  }
  
  #home {
    margin-top: 0px;
    background-color: var(--page-background-home);
  }
  
  #about {
    margin-top: 100px;
    background-color: var(--page-background-other);
  }
  
  .about-page {
    background-color: var(--page-background-other);
  }
  
  .services-page {
    background-color: var(--main-background-color);
    padding: 40px 0;
    color: var(--main-text-color);
  }
  
  #contact {
    margin-bottom: 100px;
    background-color: var(--page-background-other);
  }
  
  .contact-page {
    background-color: var(--page-background-other);
  }
  
  .light-font {
    font-size: 15px !important;
    font-weight: 200 !important;
  }
  
  /* Hero section styles */
  .hero {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path fill="white" d="M256.22 18.375c-132.32 0-239.783 107.43-239.783 239.75S123.9 497.905 256.22 497.905S496 390.446 496 258.126S388.54 18.375 256.22 18.375m0 17.875c102.773 0 189.092 69.664 214.374 164.406l-79.313-81.47l-6.967-7.155l-6.688 7.47l-77.22 86.438a1912.536 1912.536 0 0 0-34.467-30.063l-6.563-5.625l-6.125 6.156a3510.226 3510.226 0 0 0-55.438 57.094l-76.437-83.375l-6.875-7.5l-6.875 7.5l-71.188 77.313C51.364 119.34 143.983 36.25 256.22 36.25m102.25 147.28l-3.845 35.376l21.563-32l10.75 16.688l9.968-8.47l27.188 26.814L417 187.344l19.5 5.062l39.188 40.25l.843-.812a224.379 224.379 0 0 1 1.564 26.28c0 37.033-9.06 71.917-25.063 102.595c-46.25-53.48-92.512-100.116-138.75-142.283l11-12.312l33.19-22.594zm-220.16 22.75l26.438 18.782l20.22 22.032c-39.47 42.024-78.63 85.836-115.94 130.344c-21.98-34.443-34.718-75.38-34.718-119.313v-.78l16.25-17.658L87.81 219.5l-17.187 54.063l41.813-51.22l27.312 32.72l-1.438-48.782zm141.375 61.657l53.157 60.938l-7.688-54.563L386.312 315a1631.644 1631.644 0 0 1 56.75 62.78l.188-.186C403.853 439.216 334.868 480.03 256.22 480.03c-71.76 0-135.483-33.992-176.033-86.75c19.135-22.91 38.775-45.645 58.72-68.06l56.155-33.814l-29.312 76.75l61.53-73.375l6.25 32.19l19.532-36.783l47.844 69.5l-21.22-91.75z"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Parallax effect */
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    box-sizing: border-box; /* Include padding and border in the height calculation */
    z-index: 0;
  }
  
  @media (max-width: 767px) {
    .hero {
      background-size: contain;
    }
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  /* Shimmer effect */
  .hero img.shimmering {
    animation: shimmer 4s linear infinite;
    animation-delay: 2s;
    opacity: 0.5;
  }
  
  /* Footer styles */
  .footer {
    background-color: var(--main-background-color);
    border-top: 4px solid var(--accent-color);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Initial style for the sticky footer in the home section */
  .sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: bottom 0.3s ease-in-out;
  }
  
  .sticky-footer-none {
    display: none;
  }
  
  .footer p {
    letter-spacing: 2px;
    font-size: 14px;
    color: var(--main-text-color);
  }
  
  .small-print {
    font-size: 8px !important;
    vertical-align: bottom;
    padding-top: 20px;
  }
  
  .logo-font {
    width: 250px;
    padding: 10px;
  }
  
  .social-icons {
    text-align: center;
    padding-top: 20px;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 20px;
  }
  
  .social-icon img {
    width: 40px;
    height: 40px;
  }
  
  /* Image Gallery Styles */
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
  }
  
  .gallery-item {
    position: relative;
  }
  
  .gallery-item img {
    margin: 0;
    max-width: 100%;
    height: auto;
    transition: 0.3s;
  }
  
  /* Hover Description Styles */
  .image-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    padding: 0px;
    opacity: 0;
    transition: opacity 0.3s;
    border: solid var(--accent-color) 4px;
  }
  
  .description-text {
    color: var(--main-text-color) !important;
    opacity: 2;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .gallery-item:hover .image-description {
    opacity: 1;
    transition: 0.3s;
  }
  